<nav class="bg-white shadow-md px-6 py-4 flex items-center justify-between">
    <div class="text-2xl font-bold text-gray-800">
      <span class="text-gray-900">Oasis</span><span class="text-orange-600"> Cafe</span>
    </div>
  
    <ul class="flex space-x-6 text-gray-700 font-medium">
      <li><a routerLink="" class="hover:text-orange-600">Home</a></li>
      <li><a routerLink="menu" class="hover:text-orange-600">Menu</a></li>
      <li><a routerLink="about" class="hover:text-orange-600">About</a></li>
      <li><a routerLink="contact" class="hover:text-orange-600">Contact</a></li>
    </ul>
  
    <div class="flex items-center space-x-4">
      <div class="relative">
        <button routerLink="cart" class="text-gray-800 hover:text-orange-600" >
          <svg xmlns="http://www.w3.orgh/2000/svg" class="w-6 h-6" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             d="M2.25 3h1.386a.75.75 0 01.728.546L5.25 6.75m0 0l1.5 6h11.379a.75.75 0 00.728-.546l1.715-6.857A.75.75 0 0019.879 4.5H6.272M5.25 6.75H19.5M9 21h.008M15 21h.008"/>
     
          </svg>
        </button>

        <span *ngIf="cartCount > 0"
    class="absolute -top-2 -right-2 bg-green-500 text-white text-xs w-5 h-5 flex items-center justify-center rounded-full">
    {{ cartCount }}
  </span>
      </div>
  
      <button routerLink="login" class="text-gray-800 hover:text-orange-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.25a8.25 8.25 0 0115 0"/>
        </svg>
      </button>
      
    </div>
  </nav>
 